<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Log In
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="assets/images/school.png" imageViewer>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your username"
        [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Login
    </button>

  </form>

  <button ion-button center (click)="facebookLogin()">
    Log In with Facebook
  </button>

  <button ion-button block clear (click)="goToSignup()">
    Create a new account
  </button>

  <button ion-button block clear (click)="goToResetPassword()">
    I forgot my password
  </button>

</ion-content>

<!--<ion-content padding>
  <h3 center>
    Facebook Auth Example
  </h3>

  <button ion-button center (click)="facebookLogin()">
    Log In with Facebook
  </button>

  <ion-card *ngIf="userProfile">
    <img [src]="userProfile.photoURL"/>
    <ion-card-content>
      <ion-card-title>
        {{ userProfile.displayName }}
      </ion-card-title>
      <p>
        The UID for this new user is {{userProfile.uid}} and the email is {{userProfile.email}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>-->
