<ion-header>
  <ion-navbar color="primary">
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img class="center" src="assets/images/lore_logo.png"  imageViewer>
  <br>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your username"
        [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
    <br>
    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Login
    </button>
  </form>
  <h5><span>OR</span></h5>
  <button ion-button full (click)="facebookLogin()">
    Continue with Facebook
  </button>
  <br>

  <!--By logging in, you agree to the Lego Terms of Services and Privacy Policy.-->
  <div class="button-bar full">
    <button ion-button  color="light" (click)="goToResetPassword()">forgot password</button>
    <button ion-button   color="light" (click)="goToSignup()">New Account</button>
  </div>

</ion-content>

<!--<ion-content padding>
  <h3 center>
    Facebook Auth Example
  </h3>

  <button ion-button center (click)="facebookLogin()">
    Log In with Facebook
  </button>

  <ion-card *ngIf="userProfile">
    <img [src]="userProfile.photoURL"/>
    <ion-card-content>
      <ion-card-title>
        {{ userProfile.displayName }}
      </ion-card-title>
      <p>
        The UID for this new user is {{userProfile.uid}} and the email is {{userProfile.email}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>-->
